.ZEleA-Layout-Content {
  padding   : 16px;
  background: #fff;
  height    : 100%;
}

.ZEleA-Layout-Alone {
  width : inherit;
  height: inherit;
}

.ZEleA-Layout-Items {
  display: flex;
}

.ZEleA-Layout-Items>* {
  margin: 4px 8px;
}